layout {
    pane split_direction="Vertical" {
        pane size="20%" {
            plugin location="strider"
        }
        pane
    }
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
}
